<div class="contain">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main main-text" id="home">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center text-center">
                <h1>About this Application</h1>
            </div>
            <div class="d-flex flex-column text-center w-100 mb-3 about-p">
                <p>
                    Designed by KingDavid Chika. This genius is an Information Technology master’s student at National Open University of Nigeria.
                    KDOCSS is a ground-breaking initiative, a bilingual speech synthesizer tailored specifically for the diverse linguistic landscape of Nigeria. 
                    This application, leverages cutting-edge technology and linguistic research to convert written text into natural and intelligible spoken words for 
                    3 major Nigerian languages (Igbo, Hausa, and Yoruba), ensuring inclusivity and accessibility.
                    
                <p>
                    It addresses the scarcity of high-quality speech synthesis solutions for indigenous Nigerian languages, 
                    which are vital for promoting literacy, preserving cultural heritage, and facilitating communication in education, healthcare, and technology. Ultimately, 
                    this application empowers individuals, institutions, and businesses in Nigeria by providing them with information to communicate effectively in their native languages. 
                </p>
                <p class="copyright">&copy; All right reserved {{currentYear}}</p>
            </div>
        </div>
    </div>
</div>  