.sidemenu {
    background-color:  rgb(53 66 74);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 83px;
}
.logo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #e8491d;;
}
.logo div {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 0.8rem;
    letter-spacing: 5px;
}

.bi-bank {
    color: #e3edfa;
}
.side-list {
    padding-left: 0;
    list-style-type: none;
    margin-top: 16px;
}
.side-list li{
    margin-bottom:10px;
}
.menu-link {
    display: block;
    padding: 7px 19px;
    text-decoration: none;
    color: white;
    transition: all 0.25s;
}
.menu-link:hover {
    background-color: #e8491d;
    color: black;
}
.active-tab {
    background-color: #e8491d;
    color: black;
}
.bi {
    margin-right: 5px;
}
@media (min-width: 992px) {
    .sidemenu {
        width: 222px;
    }
    .logo div{
        font-size:1.5rem;
        letter-spacing:8px;
    }
}
@media (max-width: 992px) {
    .menu-link span, .logo span {
        font-size: 12px;
    }
    .menu-link i {
        font-size: 21px;
    }
    .menu-link {
        text-align: center;
    }
}