<div class="contain">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main main-text"  id="home">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center text-center">
                <h1>Give Us a Feedback</h1>
            </div>
            <div class="feedback-pad ">
                <div class="d-flex flex-column justify-content-center text-center mb-3">
                    <p>You can send us your feedback through our email:</p>
                    <div>
                       <a href="mailto:kingdavidchika@gmail.com"><button class="explore" >Send an email</button></a>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <p>You can also text us on Whatsapp on:</p>
                    <a href='https://Wa.me/+2348118881495?text=Hi,+say+hello+to+David King' target="blank" > <i class="bi bi-whatsapp" id="whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>  